/* polices */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


*{
    font-family: Arial, Helvetica, sans-serif
}

h1{
    font-family: 'Abril FatFace';
}

.marge{
    margin-left: 5em;
}

.title{
    margin: 50px;
}

/* navbar */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
/* intro */
.center-intro{
    padding-top: 100px;
    text-align: center;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.icon {
    color: black;
}

.justify-text {
    text-align: justify;
}

.intro{
    margin-bottom: 50px;
}

.intro-sub{
    background-color : rgb(37, 35, 35);
    
}



.presentation{
    background : url(../assets/header-bg.png);
    background-size: cover;
    height: 400px;
    
}





.social-buttons>li{
    display: inline;
    margin: 10px;
    
    
}



.dev{
    text-transform: uppercase;
}

/* presentation */
.card{
    padding: auto;
    font-size: small;
}

.card-img-top{
    
    margin-left: auto;
    margin-right: auto;
    
   
    
}





  /* Caroussel */

.carousel{
    margin: 20px 0px;

}

.see-project{
    color : black;
    background-color:rgba(255,255,255,0.5);
    padding: 10px 20px;
}

h5{
    color: red;
    background-color: rgba(255,255,255,0.5);
    padding: -40px;
}
.go-project{
    margin: auto;

    margin-bottom: 20px;
}

/* footer */

footer{
    background-color: rgb(37, 35, 35);
    color: white;
    font-size: small;
}